body{
  margin:0;
  padding: 0;
  background-image: url("../Images/superthumb.jpg");
  background-size: cover;
}

.searchbar{
  float: right;
  margin:0;

}
#search{
  height: 22px;
  width: 300px;
}
#searchbutton{
  color: #89608E;
  font-size: 22px;
  font-family: "Open Sans Condensed", sans-serif;
  background-color: none;
}

.clear{
  clear:both;
}

.header{
  width: 100%;
  background-color: #89608E;
}

.header p{
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 30px;
  padding: 10px;
}


img {
  width: 300px;
  display: inline-block;
  float: left;
  margin-right: 10px;

}
.wrapper{
  /*margin-left: ;*/
  /*why doesn't show?*/

}
.totalwrap, .quantitywrap{
  display: inline-block;
  margin: 10px;
}
.totalwrap p, .quantitywrap p{
  font-size: 15px;
}
input{
  font-size: 15px;
}

#purchasebutton{

}

@media all and (max-width: 400px){
  .totalwrap p, .quantitywrap p{
    font-size: 25px;
  }
  input{
    font-size: 25px;
  }
  #purchasebutton{
    display: block;
    font-size: 25px;
    position: relative;
    top: 15px;
    left: 80px;
  }
}
