body{
  background-image: url("../Images/superthumb.jpg");
  background-size: cover;
  margin: 0;
  padding: 0;
}

.header{
  width: 100%;
  background-color: #89608E;

}

.header p{
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 30px;
  padding: 10px;

}
.wrapper{
  text-align: center;
}

.namewrap{
  /*display: inline-block;*/
}

.firstnamewrap, .lastnamewrap, .citywrap, .statewrap, .zipwrap {
  display: inline-block;
}

p{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 22px;
}

#shipbutton{
  margin-top: 30px;
  font-size: 22px;
  font-family: 'Open Sans Condensed', sans-serif;
  padding: 2px;

}

.break{
  clear:all;
}
