body{
  margin: 0;
  padding: 0;
}
.wrapper{
  text-align: center;

}

.namewrap{
  /*display: inline-block;*/
}

.firstnamewrap, .lastnamewrap, .citywrap, .statewrap, .zipwrap {
  display: inline-block;
}

.break{
  clear:all;
}
